<IfModule authz_core_module>
    Require all denied
    RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>